* {
    margin: 0;
    padding: 0;
}

/* custom classes  */



/* custom classes  */

header {
    border: 1px solid black;
    text-align: center;
    top: 0;
    position: fixed;
    width: 100%;
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);

}

header h1, h3 {
    margin: 1rem 0;
    top: auto;
}


main {
    display: flex;
    flex-grow: 1;
    margin: 4rem;
    margin-top: 10rem;
}

section {
    border: 1px solid blue;
    width: 100%;
    height: auto;
    margin: 1rem;
    padding: .5rem;
    flex-grow: 1;
}

.content h3 {
    text-align: center;
}

.content ul {
    margin-left: 1rem;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    min-height: 4rem;
    background-color: #9599E2;
    text-align: center;
}

footer p {
    position: fixed;
    bottom: 0;
    padding-bottom: .5rem;
    text-align: center;
    margin-left: 33%;
}

@media screen and (max-width: 800px) {
    main {
        flex-wrap: wrap;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    section {
        margin: 1rem;
    }
}